* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* --color: #044--gret660; */
    /* --primary: #1a75bc; */
    /* --three-boxes: rgba(3, 49, 67, .4); */
    /* --three-boxes: rgba(3, 49, 67, .8); */
    /* --three-boxes: #1a75bc; */


    --btn-orange: #FF6C0D;

    --white: #333;
    --grey: #ccc;
    --body-bg: #0e1525;
    --box-bg: #0b111f;
    /* --box-bg: #f7f7f7;
    --body-bg: #fff; */
    --head-color: #1D99FD;
    --first-box-border: #5B2DF8;
    --second-box-border: #01C3FF;
    --red-border: #E4446F;
    --table-border: rgba(139, 124, 124, .26);
    --input-fill: rgba(40, 150, 236, .24);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-bg);
}

.background {
    width: 100%;
    /* min-height: 100vh; */
    /* background: url('./images/bg.jpg') no-repeat center; */
    background-size: cover;
    background: var(--color);
    background: var(--body-bg);
}

#logo {
    width: 160px;
}

.margin-right {
    margin-right: 0.8rem;
    margin-bottom: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9rem 1rem;
    height: 70px;
    background-color: var(--box-bg);
}

nav .connect-wallet {
    margin-bottom: 0;
}

nav p {
    font-weight: 500;
    color: #fff;
    font-size: 1rem;
}

nav i {
    font-size: 1.2rem;
}

.side-link {
    display: flex;
    align-items: center;
}

.head-main-page {
    color: var(--head-color) !important;
}



ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #e6e6e6;
}

i {
    color: #ccc;
}

.aic {
    align-items: center;
}

.form-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    padding: 25px;
    border-radius: 5px;
    background-color: var(--box-bg);

}

.form-head {
    text-align: center;
}

.form-head h2 {
    font-weight: 500;
    color: rgb(192, 192, 192);
    margin-bottom: 2.5rem;
}

.form-field {
    position: relative;
    display: grid;
    grid-template-columns: 140px 1fr;
    margin: 1rem 0;
    background: var(--body-bg);
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

.form-field label {
    color: #ccc;
    margin-top: 5px;
}

.form-field input {
    height: 33px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgb(56, 56, 56);
    min-width: 290px;
    border-radius: 5px;
    background: var(--box-bg);
    color: #ccc;
}

.form-field input::placeholder {}

.form-field input:focus {
    transform: scaleY(1.02);
}

.form-field .verify-btn,
.form-field .confirm-otp {
    display: inline-block;
    position: absolute;
    right: 0;
    border: 1px solid var(--btn-orange);
    /* color: #0; */
    background-color: var(--body-bg);
    background-color: var(--btn-orange);
    color: #000;
    padding: 6px 5px;
    height: 33px;
    font-size: .8rem;
}

.submit-buttons {
    display: block;
    text-align: right;
    margin-top: 2rem;
}

.btn-submit.first-btn {
    color: #333;
    background: transparent;
    border: 1px solid var(--btn-orange);
    margin-right: 0.5rem;
}

.btn-submit {
    font-weight: 500;
    outline: none;
    border: none;
    padding: 3px 21px;
    border-radius: 3px;
    border: 1px solid var(--btn-orange);
    background-color: var(--btn-orange);
}

.mr-3 {
    margin-right: 0.6rem;
}


/* DASHBOARD */



.dashboard-container {
    display: grid;
    grid-template-columns: 1fr;
}

.sidebar {
    display: none;
}

.large-view-area {
    padding: 20px 25px;
}

.sidebar {
    border-right: 1px solid var(--box-bg);
}

.first-link {
    margin-top: 1rem !important;
}

.hide-on-big {
    display: none;
}

.sidebar ul li {
    background-color: var(--body-bg);
    padding: 10px 5px;
    padding-left: 20px;
    margin: 0.3rem 0;
}

.sidebar ul li.active {
    background-color: var(--box-bg);

}

.sidebar ul li:hover {
    background-color: var(--box-bg);
}

.sidebar ul li a {
    display: block;
    color: #ccc;
}

.device-info-box {
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--box-bg);
}

#device-image {
    width: 170px;
}

.device-info-box>div {
    margin-left: 1.5rem;
}

.device-info-box>div h4 {
    color: #ccc;
    font-weight: 400;
}

.device-info-box>div p {
    color: #ccc;
    font-weight: 400;
}


.amount-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 20px;
    margin-top: 1.5rem;
}

.box {
    border-radius: 10px;
    padding: 20px;
    background-color: var(--box-bg);
    border: 1px solid #555;
    text-align: center;
}

.box h3 {
    font-size: 1.2rem;
    /* color: rgb(175, 175, 175); */
    color: #ccc;
}

.box p.large {
    color: #ccc;
    /* color: #ccc; */
    font-size: 2rem;
    margin-bottom: 0;
}

.large {
    color: #ccc;
    font-size: 2rem;
    margin-bottom: 0;
}

.to-paid {
    margin-top: 1.5rem;
    text-align: center;
    background-color: var(--box-bg);
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #555;
}

.box-to-paid h3 {
    font-size: 1.2rem;
    color: rgb(175, 175, 175);
    /* color: #333; */
}

.pay-btns {
    margin-top: 1rem;
}

.pay-btn {
    width: 200px;
    padding: 8px 15px;
    color: #000;
    font-weight: 500;
    border-radius: 5px;
}

.pay-btn:hover {
    filter: brightness(90%);
    /* width: 200px; */
    /* padding: 8px 15px; */
    color: #000;
    /* border-radius: 5px; */
}

.pay-btn.crypto-pay {
    background-color: #f28820;
}

.pay-btn.paypal {
    background-color: #F1BA37;
    margin-right: 0.5rem;
}

#device-image-small {
    width: 40px;
}

.head-section {
    color: #ccc;
    margin: 1rem 0;
}


/*  USER TABLE */
.user-table {
    background: var(--box-bg);
    /* background: rgba(3, 49, 67, .5); */
    margin: 0 0;
    overflow-x: auto;
    padding: 10px;
}

.br-0 {
    border-radius: 0;
    border: none;
    padding: 5px 0;
    background: none;
    margin-bottom: 1.3rem;
}

table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
}

thead tr {
    background-color: var(--box-bg) !important;
    color: rgb(182, 182, 182);
}

tbody tr {
    background-color: var(--box-bg) !important;
    color: rgb(151, 149, 149);
}


tr th {
    font-weight: 600;
    padding-top: 14px;
    padding-bottom: 14px;
}

/* tbody tr {
    border-bottom: 1px solid /#03384d;
} */

tr td {
    font-weight: 400;
}

td,
th {
    /* border: 1px solid #043f56; */
    /* border-bottom: 0.5px solid #13526b; */
    text-align: left;
    padding: 7px;
    /* color: #ddd; */
}

tr:nth-child(even) {
    background-color: var(--body-bg);
    /* background-color: rgba(3, 56, 77, .2); */
    /* color: #ccc; */
}

.dataTables_length>label {
    display: none;
}

.dataTables_filter>label {
    margin-bottom: 0.5rem;
    color: rgb(151, 151, 151);

}

.right-field {
    text-align: right;
}


.profile-container {
    width: 100%;
    display: grid;
    place-content: center;
    /* max-width: 500px; */
    padding-top: 150px;
}

.profile-container .profile-pic {
    text-align: center;
    border-radius: 50%;
}

#user-pic {
    border-radius: 50%;
    margin-top: -140px;
}

.profile-container .form-field p {
    text-align: right;
    color: rgb(161, 161, 161);
}






.bar-btn {
    display: none;
}















@media (max-width:855px) {
    .form-stake {
        width: 100%;

        margin: 1rem auto;
    }

    .connect-other-wallet {
        width: 100%;
    }

    .wallet-address-active {
        font-size: 0.85rem;
    }

    .d-nonee-big {
        display: block;
    }

    .d-none-sm {
        display: none !important;
    }

    .three-boxes {
        margin-top: 1rem;
    }

    .half-w>* {
        width: 49%;
    }

    input[type='submit'] {
        width: 49% !important;

    }

    .cwte {
        display: flex !important;
        justify-content: flex-end !important;
        /* align-items: flex-end; */
        /* background: #2c718b; */
    }

    .wallet-head {
        font-size: 0.9rem;
    }
}

.show-later {
    display: none;
}

.show {
    display: block !important;
}

/* MARKETPLACE */
.tabs-links {
    margin-top: 1.5rem;
    position: relative;
    width: 100%;
    overflow-x: auto;
}

.tabs-links ul {
    max-width: 100%;

    overflow-x: auto;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    border-bottom: 1px solid var(--box-bg);
}

.tabs-links ul li:first-of-type {
    margin-left: 0;
}

.tabs-links ul li {
    margin: 0 0.8rem;
    display: flex;
    align-items: center;
}

.tabs-links>ul::-webkit-scrollbar {
    display: none;
}

.tabs-links ul li:hover {
    border-bottom: 1px solid #fff;

}

.tabs-links ul li.active {
    border-bottom: 3px solid var(--btn-orange);
    color: #fff;
}

.tabs-links ul li.active a {
    color: #fff;

}

.tabs-links ul li a {
    text-align: center;
    /* border: 1px solid red; */
    color: #ccc;
    padding: 0.6rem 1.3rem;
    padding-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
}

.tabs-links ul li a img {
    margin-right: 5px;
}

.marketplace-boxes {
    padding: 1rem 7rem;
    max-width: 100%;
    margin: 2rem auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 20px;
}

.market-box {
    display: inline-block;
    border-radius: 20px;
    background-color: var(--box-bg);
    /* max-width: 330px; */
    border: 1px solid #555;
}

.market-box:hover {
    transform: scaleY(1.02);
    box-shadow: 1px 2px 2px var(--body-bg);
}

#image-product {
    height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #ccc;
    width: 100%;


}

.market-box>div {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.market-box div h5 {
    font-size: 0.9rem;
    color: #ccc;
}

.market-box div {
    padding: 10px;
}

.market-box div p {
    color: rgb(163, 163, 163);
    font-size: .85rem;
    margin: 0;
    padding: 0;
    margin-top: -1.5rem;
}



.product-detail {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* background: red; */
    max-width: 70vw;
    margin: 2rem auto;
}

.large-image {
    max-width: 700px;
    /* background: yellow; */
    border: 1px solid #555;
    margin-right: 1.5rem;
    border-radius: 15px;
}

.large-image img {
    width: 100%;
    height: 100%;
}

.details-box {
    display: block;
    width: 100%;
    padding: 15px;
    /* background: yellow; */
}

.details-box h1 {
    color: #fff;
}

.details-box p {
    color: #777;
    margin-top: 1.5rem;
    font-size: .8rem;
    margin-bottom: 5px;
}

p.description {
    font-size: 1rem;
    max-width: 450px;
    line-height: 1.6;
}

.details-box h2 {
    margin-top: 0;
    color: #ccc;
}

#pay-now-btn {
    border: 1px solid var(--btn-orange);
    color: #fff;
    background-color: var(--btn-orange);
    padding: 5px 25px;
    border-radius: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.2rem;
}




/*  MY Collection */
.my-collections {
    max-width: 60em;
    margin: 1.5rem auto;
}

.collection {
    display: flex;
    justify-content: space-between;
    border: 1px solid #555;
    border-radius: 20px;
    background-color: var(--box-bg);
    margin: 1rem 0;
}

.image-collection {
    max-width: 250px;
    max-height: 350px;
    background-color: var(--body-bg);
    text-align: center;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

#collection-item-img {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* width: 300px; */
}

.collect-boxes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
}

.details-mycollection-box {

    padding: .5rem 0.9rem;
    text-align: center;
    display: grid;
    place-content: center;
    /* height: 90px; */
    padding-bottom: 0.5rem;
    /* max-width: 250px; */
    border-radius: 10px;
    background: var(--body-bg);
}

.details-mycollection-box h4 {
    font-size: 1.2rem;
    color: #ccc;
}

.details-mycollection-box p {
    font-size: .85rem;
    margin-bottom: 0;
    color: rgb(155, 155, 155);
}

.center {
    text-align: center;
}







/* FOOTER */
/* Footer */
footer {
    background: #091020;
    padding: 40px 0px;
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
    margin-top: 3rem;
}

.newsletter {
    width: 100%;
    text-align: center;
    margin: 0px auto 0px auto;
}

.newsletter form {
    position: relative;
}

.newsletter form input {
    width: 100%;
    height: 48px;
    border-radius: 30px;
    border: solid 1px rgba(255, 255, 255, 0.2);
    padding: 0px 30px;
    background: none;
    outline: none;
    color: rgba(255, 255, 255, 0.4);
}

.newsletter form button.nv-btn {
    position: absolute;
    right: 0;
    top: 0;
}

.copyright-text {
    margin-top: 65px;
}

.relative {
    position: relative;
}

.footer-links {
    margin: 0px 0px 0px 15px;
    padding: 0px;
}

.footer-links li {
    list-style: circle;
}

.footer-links li a {
    color: rgba(255, 255, 255, 0.4);
    line-height: 30px;
    text-decoration: none;
    transition: all 0.5s;
}

.footer-links li a:hover {
    color: rgba(255, 255, 255, 0.75);
}

.footer-divider {
    /*border-left: solid 1px rgba(255, 255, 255, 0.2);
	border-right: solid 1px rgba(255, 255, 255, 0.2);*/
    padding-left: 60px;
}

.community-icons {
    margin: 15px auto 0px auto;
    padding: 0px;
    list-style: none;
}

.community-icons li {
    text-align: center;
    display: inline-block;
    margin: 0px 10px 0px 10px;
    line-height: normal;
}

.community-icons li div {
    background: #3a404d;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 6px;
    margin-left: auto;
    margin-right: auto;
    transition: all .6s ease;
}

.community-icons li div:hover {
    background: #1c99fe;
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);

}

.community-icons li div i {
    font-size: 30px;
    vertical-align: middle;
    line-height: 50px;
    color: #FFF;
}

.community-icons li h4 {
    color: #1c99fe;
    font-size: 21px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.community-icons li small a {
    color: #1c99fe;
    text-decoration: none;
    font-size: 10px;
    transition: all 0.5s;
}

.community-icons li small a:hover {
    color: rgba(255, 255, 255, 0.75);
}

.fixed-community-icons {
    right: 10px;
    position: fixed !important;
    width: 60px !important;
    bottom: 70px !important;
    z-index: 99998;
}

.social-icons {
    text-align: center;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-icons a {
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    border: solid 3px rgba(255, 255, 255, 0.2);
    font-size: 21px;
    line-height: 45px;
    color: #FFF;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    transition: all .6s ease;
}

.social-icons a:hover,
.social-icons a:focus {
    background: #ff6c0d;
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.form-container .center p {
    color: rgb(121, 121, 121);
    font-size: .95rem;
}

.form-container .center p span {
    color: #ccc;
}